/* 타입선택자 */
pre{
    text-align: center;
}

/* id 선택자 */
#sid01{
    color: orange;
}
#sid02{
    color: yellow;
}
#sid03{
    color: brown;
}

/* class 선택자 */
.scls{
    color: pink;
}
#scls01{
    color: black;
}

/* 전체 선택자 */
/* *{
    text-align: right;
    margin: 0;
    padding: 0;
} */

/* 인접선택자 */
h3 + b{
    background-color: black;
    color: white;
}
#sid04 + b{
    background-color: yellow;
    color: aqua;
}

/* 속성 선택자 */
p[title]{
    color: skyblue;
}
p[title="b"]{
    background-color: yellow;
}

/* 가상클래스 선택자 */
/* 
    link: 방문 전 링크 선택
*/
a:visited{
    color: red;
}
a:hover{
    background-color: purple;
}
input:checked{
    width: 200px;
    height: 200px;
}

/* 종속 선택자 */
li.acls01{
    background-color: green;
}
li.acls02#sidli{
    background-color: yellow;
}

/* 자식 선택자 */
#at > p{
    color: orange;
}
#at > div > p{
    color:  silver;
}

/* 하위 선택자 */
div span{
    background-color: aquamarine;
}

article > div >div>span{
    background-color: red;
}

/* 그룹 선택자 */
p,pre, strong{
    color: lime;
}